html, body {height:100%;margin: 0;}

body{
    margin: 0;
    padding: 0;
    padding-right: 0 !important
}
body::-webkit-scrollbar{ 
    width:0px;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}